.cardImg{
    width:250px;
    height:250px;
    margin-right: 100px;
}

.buyBtn{
    background: orange;
    padding:5px 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: 1px grey solid;
  }
.remove{
  padding:3px;
  background-color: greenyellow;
  width:100px;
  margin:0 auto;
  text-align: center;
}
  
@media only screen and (max-width: 730px) {
    .cardImg { 
        width:150px;
        height:150px;
    }
  }