

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 20px;
  }
  .rating > span:hover,
  .rating > span:hover ~ span {
    color: transparent;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     left: 0; 
     color: gold;
  }
  
  .stars{
    color: #ffae00;
    font-size:25px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}
.starsNot{
    font-size:25px;
    color:#ccc;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}