.shopping{
    height:380px;
}

.titles{
    font-family: 'Permanent Marker', cursive;
    
}
h3{
    margin:0px !important;
}

#comment{
    color:red;
    font-size: 20px;
    font-weight: bold;

}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 18px !important;
    }
    h2 {
        font-size: 20px !important;
      }
    #comment{
        font-size: 15px;
    }
    h3{
        padding-left: 5px !important;
    }
  }