.shopping{
    height:350px;
}

.banner{
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'IBM Plex Serif', serif; */
    font-family: 'Permanent Marker', cursive;
    margin:0
}


#comment{
    color:red;
    font-size: 20px;
    font-weight: bold;

}