@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

.background{
    width: 100%;
    background: linear-gradient(rgba(212, 139, 30, 0.95), rgba(212, 139, 30, 0.95)),
      url(../../pictures/crypto.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
.shopButton{
    width: 160px;
    color: orange;
    background: black;
    font-size: 26px;
    border-radius: 5px;
    padding:5px;
    font-family: 'Dancing Script', cursive;
}
.shopButton:hover{
    color:crimson
}
.shopping{
    height:380px;
}

.titles{
    font-family: 'Permanent Marker', cursive;
    
}
h3{
    margin:0px !important;
}

#comment{
    color:red;
    font-size: 20px;
    font-weight: bold;

}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 18px !important;
    }
    h2 {
        font-size: 20px !important;
      }
    #comment{
        font-size: 15px;
    }
    h3{
        padding-left: 5px !important;
    }
  }