@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

  }

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .searchBtn{
    height:30px;

  }
  .pageLink{
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    position: relative;
  }
  .pageLink:before{

      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      background-color: crimson;
      height: 2px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 650ms;
    
  }
  .pageLink:hover::before {
    transform: scale(1);
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  #searcBox{
    margin:auto auto;
    width:110px;
  }

  #numItems{
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    /* padding:2.5px; */
    color:orangered;
  }
